@model string
@{
  ViewBag.Title = "Encode";
}

<h2>Encode</h2>
@using (Html.BeginForm("Encode", "Default", FormMethod.Post))
{
  @Html.Label("Value:");
  @Html.TextBox("value");
  <input type="submit" value="Encode" />
  <br />
  if (Model != null)
  {
    @Html.Label($"Encoded value {Model}");
  }

}

